<a href="https://colab.research.google.com/github/httppaulinaar/Probabilidad-y-estad-stica/blob/main/Practica3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PROBABILIDAD Y ESTADISTICA
#UNIDAD 1
#Facilitador: José Gabriel Rodriguez Rivas
#Practica 3
##**Tablas de frecuencia**

In [5]:
import random
edades=[]
for i in range(100):
  numero_aleatorio=random.randint(18,70)
  edades.append(numero_aleatorio)
print(edades)

[37, 50, 55, 30, 54, 18, 35, 46, 33, 52, 52, 27, 43, 35, 32, 65, 26, 67, 19, 37, 62, 50, 19, 69, 24, 43, 36, 67, 31, 62, 32, 36, 21, 39, 44, 41, 20, 33, 54, 41, 25, 64, 20, 58, 53, 20, 48, 44, 19, 23, 19, 65, 36, 46, 56, 27, 60, 44, 66, 33, 35, 63, 55, 31, 39, 21, 35, 52, 49, 21, 22, 48, 60, 70, 29, 31, 30, 53, 38, 35, 18, 23, 46, 64, 44, 67, 19, 33, 19, 18, 55, 35, 61, 40, 46, 30, 57, 69, 26, 33]

In [6]:
import pandas as pd #analisis de datos
df=pd.DataFrame(edades,columns=['Edades'])
df.head()

   Edades
0      37
1      50
2      55
3      30
4      54

In [8]:
tabla_frecuencias=df['Edades'].value_counts().reset_index()
tabla_frecuencias.columns=['Edades','Frecuencia']
tabla_frecuencias=tabla_frecuencias.sort_values(by='Edades')
print("Tabla de Distribución de Frecuencias: ")
tabla_frecuencias

Tabla de Distribución de Frecuencias:

    Edades  Frecuencia
6       18           3
1       19           6
8       20           3
7       21           3
38      22           1
29      23           2
32      24           1
31      25           1
20      26           2
19      27           2
40      29           1
11      30           3
13      31           3
15      32           2
2       33           5
0       35           6
10      36           3
18      37           2
41      38           1
21      39           2
43      40           1
26      41           2
14      43           2
3       44           4
4       46           4
27      48           2
37      49           1
17      50           2
5       52           3
28      53           2
16      54           2
12      55           3
34      56           1
44      57           1
33      58           1
30      60           2
42      61           1
23      62           2
36      63           1
25      64           2
24      65           2
35      66           1
9       67           3
22      69           2
39      70           1

In [9]:
tabla_frecuencias['Frec Relativa']=tabla_frecuencias['Frecuencia']/100
tabla_frecuencias

    Edades  Frecuencia  Frec Relativa
6       18           3           0.03
1       19           6           0.06
8       20           3           0.03
7       21           3           0.03
38      22           1           0.01
29      23           2           0.02
32      24           1           0.01
31      25           1           0.01
20      26           2           0.02
19      27           2           0.02
40      29           1           0.01
11      30           3           0.03
13      31           3           0.03
15      32           2           0.02
2       33           5           0.05
0       35           6           0.06
10      36           3           0.03
18      37           2           0.02
41      38           1           0.01
21      39           2           0.02
43      40           1           0.01
26      41           2           0.02
14      43           2           0.02
3       44           4           0.04
4       46           4           0.04
27      48           2           0.02
37      49           1           0.01
17      50           2           0.02
5       52           3           0.03
28      53           2           0.02
16      54           2           0.02
12      55           3           0.03
34      56           1           0.01
44      57           1           0.01
33      58           1           0.01
30      60           2           0.02
42      61           1           0.01
23      62           2           0.02
36      63           1           0.01
25      64           2           0.02
24      65           2           0.02
35      66           1           0.01
9       67           3           0.03
22      69           2           0.02
39      70           1           0.01

In [10]:
tabla_frecuencias['Frec Porcentual']=tabla_frecuencias['Frecuencia']/100*100
tabla_frecuencias

    Edades  Frecuencia  Frec Relativa  Frec Porcentual
6       18           3           0.03              3.0
1       19           6           0.06              6.0
8       20           3           0.03              3.0
7       21           3           0.03              3.0
38      22           1           0.01              1.0
29      23           2           0.02              2.0
32      24           1           0.01              1.0
31      25           1           0.01              1.0
20      26           2           0.02              2.0
19      27           2           0.02              2.0
40      29           1           0.01              1.0
11      30           3           0.03              3.0
13      31           3           0.03              3.0
15      32           2           0.02              2.0
2       33           5           0.05              5.0
0       35           6           0.06              6.0
10      36           3           0.03              3.0
18      37           2           0.02              2.0
41      38           1           0.01              1.0
21      39           2           0.02              2.0
43      40           1           0.01              1.0
26      41           2           0.02              2.0
14      43           2           0.02              2.0
3       44           4           0.04              4.0
4       46           4           0.04              4.0
27      48           2           0.02              2.0
37      49           1           0.01              1.0
17      50           2           0.02              2.0
5       52           3           0.03              3.0
28      53           2           0.02              2.0
16      54           2           0.02              2.0
12      55           3           0.03              3.0
34      56           1           0.01              1.0
44      57           1           0.01              1.0
33      58           1           0.01              1.0
30      60           2           0.02              2.0
42      61           1           0.01              1.0
23      62           2           0.02              2.0
36      63           1           0.01              1.0
25      64           2           0.02              2.0
24      65           2           0.02              2.0
35      66           1           0.01              1.0
9       67           3           0.03              3.0
22      69           2           0.02              2.0
39      70           1           0.01              1.0

In [11]:
tabla_frecuencias['Frec Acumulada']=tabla_frecuencias['Frecuencia'].cumsum()
tabla_frecuencias

    Edades  Frecuencia  Frec Relativa  Frec Porcentual  Frec Acumulada
6       18           3           0.03              3.0               3
1       19           6           0.06              6.0               9
8       20           3           0.03              3.0              12
7       21           3           0.03              3.0              15
38      22           1           0.01              1.0              16
29      23           2           0.02              2.0              18
32      24           1           0.01              1.0              19
31      25           1           0.01              1.0              20
20      26           2           0.02              2.0              22
19      27           2           0.02              2.0              24
40      29           1           0.01              1.0              25
11      30           3           0.03              3.0              28
13      31           3           0.03              3.0              31
15      32           2           0.02              2.0              33
2       33           5           0.05              5.0              38
0       35           6           0.06              6.0              44
10      36           3           0.03              3.0              47
18      37           2           0.02              2.0              49
41      38           1           0.01              1.0              50
21      39           2           0.02              2.0              52
43      40           1           0.01              1.0              53
26      41           2           0.02              2.0              55
14      43           2           0.02              2.0              57
3       44           4           0.04              4.0              61
4       46           4           0.04              4.0              65
27      48           2           0.02              2.0              67
37      49           1           0.01              1.0              68
17      50           2           0.02              2.0              70
5       52           3           0.03              3.0              73
28      53           2           0.02              2.0              75
16      54           2           0.02              2.0              77
12      55           3           0.03              3.0              80
34      56           1           0.01              1.0              81
44      57           1           0.01              1.0              82
33      58           1           0.01              1.0              83
30      60           2           0.02              2.0              85
42      61           1           0.01              1.0              86
23      62           2           0.02              2.0              88
36      63           1           0.01              1.0              89
25      64           2           0.02              2.0              91
24      65           2           0.02              2.0              93
35      66           1           0.01              1.0              94
9       67           3           0.03              3.0              97
22      69           2           0.02              2.0              99
39      70           1           0.01              1.0             100